.App{
    width: 100vw;
    height: 500vh;
}

.cover{
    display: flex;
    flex-wrap: wrap;
}

.app-btn{
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.darkMode{
    background-color: #333;
}

.lightMode{
    background-color: #767272;
}